<p>HELLO!</p><br>
<a href="/logout">LOGOUT</a><br>


<div class="content">
<form class="" action="/message" method="post">
<textarea name="gabs" rows="3" cols="30">Write your gabble here keep it under equal to or under
  140 characters.
</textarea>
<button type="submit">Gabble!</button>
</form>
</div>

<br>

<div class="gabs">
<a href="/message">View all the gabbles here!</a><br>
{{#data}}
{{.}}<br>
{{/data}}
</div>
