Sign Up here!!<br>

<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="username"><br>
  <input type="text" name="name" value="" placeholder="name"><br>
  <input type="text" name="password" value="" placeholder="password"><br>
  <input type="text" name="confirm" value="" placeholder="confirm password"><br>
  <button type="submit">SUBMIT</button>

</form>
