view the gabbles
<a href="/logout">LOG OUT</a><br>
<a href="/user">Back</a><br><br>
{{#data}}
<div class="body">
   <a href="/like/{{id}}">See who likes me!</a>
  <form class="" action="/like/{{id}}" method="post">
  <br>Gabble Gab<br>
  {{body}}<br>
  <b>{{Users.dataValues.name}}</b><br>
  <button type="submit">Like me !</button><br>
 </form>
 </div>r
{{/data}}
