view the gabbles
<a href="/logout">LOG OUT</a><br>
<form class="" action="/message" method="post">
<textarea name="gabs" rows="3" cols="30">Write your gabble here keep it under equal to or under
  140 characters.
</textarea>
<button type="submit">Gabble!</button>
</form>
</div>
<br><br>
{{#data}}
<div class="body">
  <a href="/like/{{id}}">See who likes me!</a>
  <form class="" action="/like/{{id}}" method="post">
  <br>Gab!<br><br>
  {{body}}<br><br>
  <b>{{Users.dataValues.name}}</b><br>
  {{Users.dataValues.createdAt}}<br><br>
  {{Likes.length}}<br>
  <button type="submit">Like me !</button><br><br>
  <a href="/delete/{{id}}">DESTROY!</a><br><br><br>
 </form>
 </div>
{{/data}}
