<br>
<a href="/logout">Logout</a><br>
<a href="/user">Go back and create a Gabble!</a><br>
<a href="/message">Go back to Gabbles</a><br>
These are all the people who have liked this post!<br>
{{#data}}
{{Message.dataValues.body}}
<br><br>Who Created it :
{{Users.dataValues.name}}<br>
When was it created? :
{{Users.dataValues.createdAt}}<br>
How Many likes :
{{Likes.length}}<br>
{{Likes.Like.dataValues.name}}<br>
{{/data}}
