<br>
<div class="likes">
<a href="/logout">Logout</a><br><br>
<a href="/message">Go back to Gabbles</a><br><br>
These are all the people who have liked this post!<br>
<br>
<hr>
Hey, these people like my gabble!<br>
<br><br>
{{#data}}
{{.}}
<div class="users">
<b>{{User.dataValues.name}}<a href='/deletelike/{{id}}'>Delete my like</a><b><br><br>
</div>
{{/data}}
</div>
