body {
  align-items: center;
  /*border:solid black 1px;
  border-radius: 4px;*/
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
  width: 200px;
}

a {
  background-color: #FF1493;
  border-radius: 4px;
  color: white;
  padding: 2px;
  text-decoration: none;
}

.gabs {
  border: solid black 1px;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
}

/*.content {
  border: black solid 1px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}*/

.body {
  border: black solid 1px;
}
.likes {
  border: black solid 1px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.users {
  border: solid 1px black;
}
